

<!DOCTYPE html>
<head>
	<title> Inventory</title>
	<center><h1 style="color:red;font-size:500%;">INVENTORY MANAGEMENT SYSTEM</h1></center>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<div class="imgs">
		<img src="{{ url_for('static', filename='inn.webp') }}" style="height:300; width:100%">
	</div>
	<center>
	<h1 style="color:blue;">What It is !! How It Works !! Why You Need One !!</h1>
	<p style= "font-size : 200%">An inventory management system (or inventory system) is the process by which you track your goods throughout your entire supply chain, from purchasing to production to end sales. It governs how you approach inventory management for your business.<br>
	<br><br>
	Inventory systems can be used to facilitate faster purchasing; manufacture products using a Bill of Materials; fulfil customer orders from multiple sales channels; and streamline dozens of other common inventory control processes.<br><br>
	</p>
	</center>

	<div class="stock">
		<img src="{{ url_for('static', filename='bbb.jpg') }}" style="height:100; width:100%">
	</div>
	<div class="ban">
		<img src="{{ url_for('static', filename='st.webp') }}" style="height:100; width:100%">
	</div>
</body>
</html>
